.nav-bar {
    background: linear-gradient(rgba(152, 231, 255, 0.071), rgba(0,0,0,0.55)), url('images/banner.jpg') center/cover no-repeat;
    padding: 18px 15px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #ffffff;
   
}


a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    display: inline-block;
    margin: 8px 12px;
}


a:hover {
    color: rgb(25, 189, 249);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(9, 9, 9);
    background-image: url('images/hospital_bed.jpg');
    background-size: cover; 
}



footer {
   
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(152, 231, 255, 0.071), rgba(0,0,0,0.55)), url('images/banner.jpg') center/cover no-repeat;
}


.nav-logo {
    width: 90px;
    height: 100px;
    object-fit: cover;
}



footer  p {
    color: white;
    text-align: center;
    margin: 20px;
}

.login-container { 

    color: white;
    margin: 10px auto;
    max-width: 400px;
    width: 90%;
}